<%= simple_form_for(@book, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :name, required: true, label: false, placeholder: "Title", html_input:{class: "form-control"} %>
    <%= f.input :author, required: true, label: false, placeholder: "Author", html_input:{class: "form-control"} %>
    <%= f.input :description, required: true, label: false, placeholder: "Description", html_input:{class: "form-control"} %>
    <%= f.input :price, required: true, label: false, placeholder: "Price (in cents)", html_input:{class: "form-control"} %>
    <div class="checkbox text-center"> 
    <%= f.input :availability, inline_label: "Available", html_input:{type: "checkbox"} %> 
  </div>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
  
<% end %>
